body {
    font-family: Arial;
    background-image: url("../flower.jpg");
}

header {
    text-align: center;
    color: #4b433f
}

canvas {
    background-color: rgb(165, 183, 183);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:1px solid #000000;
}

div {
    text-align: center;
    color: #4b433f;
}
.info {
    text-align: left
}
